<div class="container">

  <h2 class="text-center">Log</h2>

  <form class="form-inline" id="newDayForm" action="/days" method="post" accept-charset="utf-8">
    <div class="form-group">
      <div class="col-xs-2">
        <label for="day">Date:</label>
      </div>
      <div class="col-xs-7">
        <input id="date" type="text" name="date" class="form-control">
      </div>
      <div class="col-xs-3">
        <button class="btn btn-default" name="submit" type="submit">Add day</button>
      </div>
    </div>
  </form>
  <br>

  <ul id="days-list" class="list-group">
    {{#each days as |day|}}
      <li class="list-group-item">
        <a href="/days/{{day.id}}">{{convertDate day.date}}</a>
        <span id="{{day.id}}" class="delete-btn glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
      </li>
    {{/each}}
  </ul>

</div>
