<h1>Meals Index</h1>

<ul>
  {{#each meals as |meal|}}
    <li>{{meal.typeOfMeal}}</li>
    <ol>
    {{#each meal.foods as |food|}}
      <li>{{food.name}}</li>
    {{/each}}
    </ol>

  {{/each}}
</ul>