<h2>Add a New Meal</h2>

<form action="/meals" method="post" accept-charset="utf-8">

  <div class="form-group">
    <label for=""></label>
    <input type="text" name="" value="" placeholder="">
  </div>

</form>

