<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- bower:css -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
  <!-- endbower -->

  <!-- bower:js -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower --> 
  
  <!-- inject:css -->
  <link rel="stylesheet" href="/custom/css/app.css">
  <!-- endinject -->
  
  <!-- inject:js -->
  <script src="/custom/js/app.js"></script>
  <!-- endinject -->
  <title>Calorie Tracker</title>
  
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body> 
  <div class="container">
    {{{body}}}
  </div> 
</body>
</html>
